.our-services {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.services-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px 0 50px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 277px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: start;
}

.service-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.service-card svg {
  margin-top: 40px;
  font-size: 3rem;
  margin-bottom: 20px;
  align-self: center;
  color: #1d3557;
}

.our-services h2 {
  text-align: center;
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.service-card h3 {
  color: #1d3557;
  font-size: 1.3rem;
  margin: 0;
}

.service-title {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.service-description {
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.service-card p {
  color: #457b9d;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
