/* CommonServices.css */
.our-services {
  background-color: #F0EFEE;
  padding: 20px 0;
}

.services-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: start;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 277px;
  margin: 0 auto;
}

.service-card svg {
  font-size: 3rem;
  color: #1d3557;
  margin: 40px 0 20px;
}

.our-services h2 {
  text-align: center;
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.service-title {
  color: #1d3557;
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.service-description {
  color: #457b9d;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 35px;
  text-align: justify;
}

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .our-services {
    padding: 0;
    margin-top: 0;
  }
  .services-container {
    padding-top: 0;
    margin-top: 0;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    max-width: 350px;
  }

  .our-services h2 {
    font-size: 2.2rem;
  }

  .service-card svg {
    font-size: 2.7rem;
  }

  .service-title {
    font-size: 1.4rem;
  }
  
  .service-description {
    font-size: 1rem;
  }
}
