.products-page {
  padding: 0 20px 20px 20px;
  background-color: #F0EFEE;
  min-height: calc(100vh - 40px);
}

.products-page h2 {
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}
