.products-page {
  padding: 100px 20px 20px 20px;
  background-color: #F0EFEE;
  min-height: calc(100vh - 40px);
}

.products-page h2 {
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .products-page {
    padding: 120px 20px 20px 20px;
  }
  .products-page h2{
      font-size: 2.2rem;
    }    
}

