.projects-section {
  padding: 0 20px 100px 20px;
    background: #F8F9FA;
    text-align: center;
  }

  .projects-section h2 {
    color: #1d3557;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .project-item {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1;
  }
  
  .project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(50%);
    transition: filter 0.3s ease-in-out, transform 0.3s;
    z-index: 0;
    opacity: 0.86;
  }
  
  .project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .project-item:hover img {
    filter: brightness(90%);
    transform: scale(1.05);
    opacity: 1;
  }

  @media (max-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  