.client-showcase {
  padding: 30px 0;
  background: #F0EFEE;
  text-align: center;
}

.showcase-title {
  font-size: 2.5rem;
  color: #1d3557;
  margin-bottom: 40px;
  text-align: center;
}

.client-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.client-card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.client-card:hover {
  transform: scale(1.05);
}

.client-logo {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.client-card:hover .client-logo {
  transform: scale(1.1);
}

.client-text-button{
  text-decoration: none;
  color: #1d3557;
}

.client-text-button:hover {
  color: #F4A261;
  transition: color 0.3s ease;
}

.see-more-button:hover {
  background: linear-gradient(135deg, #1a5f7a, #0F316D);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(15, 49, 109, 0.4);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .showcase-title {
      font-size: 2rem;
  }

  .client-grid {
      gap: 20px;
  }
}
