.client-showcase {
    padding: 30px 0;
    background: #F8F9FA;
    text-align: center;
  }
  
  .showcase-title {
    font-size: 2.5rem;
    color: #1d3557;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .client-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .client-card {
    /* background: white; */
    padding: 20px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* border: 1px solid white; */
  }
  
  .client-card:hover {
    transform: scale(1.05);
  }
  
  .client-logo {
    max-width: 100%;
    max-height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .client-card:hover .client-logo {
    transform: scale(1.1);
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .showcase-title {
      font-size: 2rem;
    }
  
    .client-grid {
      gap: 20px;
    }
  }