.product-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 15px;
  width: 100%;
}

.product-card {
  background-color: #fff;
  border: 1px solid #eee;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  width: 200px;
  height: 250px;
}

.product-card:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #bfbfbf;
  margin: 15px 0 -10px 0;
}

.product-card img {
  padding: 8px;
  width: 90%;
  height: 120px;
  object-fit: contain;
  display: block;
}

.product-info{
  padding: 0;
}

.product-info h3 {
  height: 30px;
  font-size: 0.9rem;
  color: #1E3456;
}

.product-count {
  margin-top: 6px;
  font-size: 12px;
  color: #555;
}

.other-names-out {
  font-size: 12px;
  color: #555;
}

.see-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.toggle-view-button {
  background-color: #001f5f;
  color: #fff;
  font-size: 12px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: 2px solid transparent;
}

.toggle-view-button:hover {
  background-color: #F0EFEE;
  color: #001f5f;
  border-color: #001f5f;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
  }
  .product-card {
    padding: 0;
    width: 94%;
  }
  .product-card img {
    height: 120px;
  }
  .product-info h3 {
    font-size: 0.8rem;
    width: 80%;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
  .product-card {
    padding: 0;
    width: 94%;
  }
  .product-card img {
    height: 120px;
  }
  .product-info h3 {
    font-size: 0.8rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  .product-card {
    width: 99%;
    padding: 0;
  }
  .product-card img {
    height: 110px;
  }
  .product-info h3 {
    font-size: 0.8rem;
    width: 80%;
  }
}