.product-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  width: 100%;
  max-width: 1400px;
  padding: 10px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 220px; /* Maintain uniform size */
  display: block;
  margin: 0 auto;
}

.product-info {
  margin-top: 30px;
  /* background-color: #F0EFEE; */
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1E3456;
  margin-bottom: 5px;
}

.see-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}

.toggle-view-button {
  background-color: #001f5f;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: 2px solid transparent;
}

.toggle-view-button:hover {
  background-color: #F0EFEE;
  color: #001f5f;
  border-color: #001f5f;
  border-width: 2px;
  /* box-shadow: 0 5px 15px rgb(0,31,95, 0.7); */
}

.product-count {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}


/* Responsive Design */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-name {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-name {
    font-size: 1.4rem;
  }
}


@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-name {
    font-size: 1.4rem;
  }
}
