.product-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  width: 100%;
}

.product-card {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* width: 100%; */
  width: 300px;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.divider {
  width: 100%;
  height: 1px; /* Thickness of the line */
  background-color: #bfbfbf; /* Color of the line */
  margin: 30px 0 0 0;
}


.product-card img {
  width: 100%;
  height: 220px; /* Fixed height for images */
  object-fit: contain; /* Crucial for maintaining aspect ratio */
  display: block;
  margin: 0 auto;
}

/* .product-info {
  margin-top: auto 
} */


.product-info h3{
  font-size: 1.9rem;
  font-weight: bold;
  color: #1E3456;
  margin-bottom: 1px;
}

.see-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}

.toggle-view-button {
  background-color: #001f5f;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: 2px solid transparent;
}

.toggle-view-button:hover {
  background-color: #F0EFEE;
  color: #001f5f;
  border-color: #001f5f;
  border-width: 2px;
  /* box-shadow: 0 5px 15px rgb(0,31,95, 0.7); */
}

.product-count {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.other-names-out{
  font-size: 15px;
  color: #555;
  padding-top: 10px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product-card {
    padding: 15px;
  }
  .product-name {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-name {
    font-size: 1.4rem;
  }
  .product-card {
    max-width: 100%;
  }
}

