.interactive-product-spotlight {
  background-color: #F0EFEE;
  padding: 1rem;
}

.product-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  transition: opacity 0.5s ease-in-out;
}

.product-image {
  position: relative;
  width: 40%;
  overflow: hidden;
}

.base-image {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(15,49,109, 0.2); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

.zoom-window {
  position: absolute;
  width: 35%;
  height: 35%;
  /* border: 2px solid white; */
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.product-info {
  width: 50%;
  transition: opacity 0.5s ease-in-out;
}

.feature-list {
  margin-top: 2rem;
  gap: 30px;
  display: inline-grid;
}

.feature-background {
  background-color: rgba(58, 80, 117, 0.7); 
  color: white;
  padding: 1.5rem;
  /* border-radius: 0.5rem; */
  font-size: 0.9rem;
  font-weight: bold;
  width: 500px;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    width: 100%;
  }
}
