/* FeaturedProduct.css */
.featured-product-section {
  background-color: white;
  min-height: 50vh;
  display: flex;
  align-items: stretch;
}

.featured-product-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.featured-product-left,
.featured-product-right {
  width: 50%;
  height: 100%;
}

.featured-product-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.featured-product-right {
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.base-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.featured-product-section h2 {
  font-size: 2.5rem;
  color: #1d3557;
  margin-top: 100px;
  text-align: center;
}

.f-product-info {
  text-align: center;
  width: 100%;
  margin-bottom: 7rem;
}

.f-product-info h3 {
  font-size: 1.5rem;
  color: #1d3557;
  margin-bottom: 2rem;
}

.product-nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-dot.active {
  background-color: #0f316d;
}

@media (max-width: 1024px) {
  .featured-product-container {
    flex-direction: column;
    align-items: center;
  }

  .featured-product-left{
    height: 300px;
    width: 100%;
  }

  .featured-product-right {
    height: 350px;
    width: 100%;
    margin-top: 2rem;
  }

  .featured-product-section h2 {
    margin: 30px 30px 0 30px;
    font-size: 1.8rem;
  }

  .f-product-info h3 {
    font-size: 1.3rem;
  }

  .f-product-info {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .featured-product-section {
    padding: 1rem 0;
  }

  .featured-product-left {
    height: 300px;
  }


  .featured-product-right {
    height: 300px;
  }

  .featured-product-section h2 {
    font-size: 2.2rem;
    margin: 30px 30px 0 30px;
  }

  .f-product-info h3 {
    font-size: 1.4rem;
  }

  .f-product-info {
    margin-bottom: 2rem;
  }

  .product-nav {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .featured-product-left {
    height: 300px;
  }

  .featured-product-right {
    height: 250px;
  }

  .featured-product-section h2 {
    font-size: 2rem;
    margin: 30px 30px 0 30px;
  }

  .f-product-info {
    margin-bottom: 2rem;
  }

  .f-product-info h3 {
    font-size: 1.4rem;
  }
}
