.contact-info-container {
  /* background-color: #F0EFEE; */
  background-color: #f8f9fa;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 1rem;
}

.map-section {
  padding: 20px;
  /* background-color: #F0EFEE; */
}

.map-section h2 {
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}

.map-section iframe {
  width: 100%;
  height: 400px;
  border: none;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .contact-info-container {
    margin: 20px auto;
  }

  .map-section {
    padding: 15px;
  }

  .map-section h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .map-section iframe {
    height: 300px;
  }
}
