.hero-section {
  /* margin-top: 0; */
  /* padding: 100px 20px 20px 20px; */
  /* padding: 0; */
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  /* background-position: center; */
  width: 100%;
  height: 100%;
}

.hero-main {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.hero-content {
  padding: 10px;
  margin-top: -300px;
  background-color: rgba(223, 221, 219, 0.5);
  backdrop-filter: blur(5px);
}

.hero-title {
  font-size: 3rem;
}

.hero-title span {
  color: white;
  font-size: clamp(2.5rem, 8vw, 6rem); /* Responsive font size */
  font-weight:bolder;
}

.hero-content h2 {
  color: white;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size */
}

.hero-content p {
  color: white;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .hero-background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

   .hero-section {
    margin-top: 130px; 
    min-height: 80vh; 
    width: 100%;
   }
}

@media (max-width: 768px) {
  .hero-background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

   .hero-section {
    margin-top: 130px; 
    min-height: 60vh; 
   }
}


@media (max-width: 480px) {
  .hero-background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

   .hero-section {
    margin-top: 130px; 
    min-height: 40vh; 
   }
}
