/* Hero.css */
.hero-section {
  color: white;
  background-image: url("../../assets/images/hero-bg-down.png");
  background-size: cover;
  background-position: center;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(18, 40, 62, 0.6);
  z-index: -1;
}

.hero-main {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-title span {
  color: #F4A261;
  /* color: #d09f26; */
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(244, 162, 97, 0.2);
  font-family: 'Playfair Display', serif;
  display: block;
}

.hero-content {
  background-color: rgba(223, 221, 219, 0.3);
  padding: 20px;
  backdrop-filter: blur(5px);
}

.hero-content h2 {
  color: wheat;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  color: wheat;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 70vh;
    margin-top: 130px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-title span {
    font-size: 3rem;
  }

  .hero-content h2 {
    font-size: 1.2rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }
}
