/* Hero.css */
.hero-section {
  margin-top: 100px;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid #F0EFEE;
}

.hero-background{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  -webkit-filter: blur(5px);
  transition: 1s ease-in-out;
}

.hero-main {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  margin-top: -30px;
  transform: translateY(-20px);
}

.hero-content {
  padding: 20px;
}

.hero-title span {
  color: #1d3557;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(244, 162, 97, 0.2);
  font-family: 'Playfair Display', serif;
  display: block;
}

.hero-content {
  background-color: rgba(223, 221, 219, 0.3);
  padding: 20px;
  backdrop-filter: blur(5px);
}

.hero-content h2 {
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.hero-content p {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 70vh;
    margin-top: 130px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-title span {
    font-size: 3rem;
  }

  .hero-content h2 {
    font-size: 1.2rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }
}
