.hero-section {
  background: linear-gradient(135deg, #1d3557, #457b9d);
  color: white;
  /* margin-top: 10px; */
  padding: 60px 0;
  overflow: hidden;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content {
  flex: 1;
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #F4A261;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* .cta-button {
  background-color: #E9C46A;
  color: #1d3557;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.hero-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cta-button {
  background-color: #E9C46A;
  color: #1d3557;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.read-more-btn:hover {
  background-color: #E9C46A;
  color: #1d3557;
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* .cta-button:hover {
  background-color: #F4A261;
} */

.hero-image {
  flex: 1;
  max-width: 45%;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

.hero-features {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 60px auto 0;
  padding: 0 20px;
}

.feature {
  text-align: center;
}

.feature i {
  font-size: 2.5rem;
  color: #E9C46A;
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .hero-main {
    flex-direction: column;
  }

  .hero-content, .hero-image {
    max-width: 100%;
  }

  .hero-features {
    flex-wrap: wrap;
  }

  .feature {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}
