.hero-section {
  margin-top: 100px;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.hero-main {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.hero-content {
  padding: 10px;
  margin-top: -300px;
  background-color: rgba(223, 221, 219, 0.5);
  backdrop-filter: blur(5px);
}

.hero-title {
  font-size: 3rem;
}

.hero-title span {
  color: white;
  font-size: clamp(2.5rem, 8vw, 6rem); /* Responsive font size */
  font-weight:bolder;
}

.hero-content h2 {
  color: white;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size */
}

.hero-content p {
  color: white;
  font-weight: normal;
}

@media (max-width: 480px) {
  .hero-section {
    min-height: 100vh;
    margin-top: 130px;
    padding: auto;
   }

  /* .hero-title span {
    font-size: 1.8rem;
    padding-top: 0;
  }

  .hero-content h2 {
    font-size: 1.2rem;
  }
  
  .hero-content p {
    font-size: 0.8rem;
  } */
}
