.hero-section {
  color: white;
  overflow: hidden;
  background-image: url("../../assets/images/aa.jpeg");
  background-size: cover; 
  background-position: center;
  position: relative;
  height: 70vh;
  display: flex;
  z-index: -1; 
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 40, 62, 0.6);
}

.hero2-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #dfdddb;
}

.hero2-content h2{
  color: #1E3456;
  /* font-family: "ITCNovareseMed"; */
  line-height: 120%;
  font-size: 1rem;
}

.hero2-content p{
  color: black;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-main {
  position: relative;
  z-index: 1;
  text-align: center; 
}

.hero-content {
  width: auto;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #F4A261;
  font-size: 4rem;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
}
