.hero-section {
  margin-top: 0;
  /* padding: 100px 20px 20px 20px; */
  /* padding: 0; */
  min-height: 110vh;
  /* min-width: 1700px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
} */

.hero-background-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-background.fade-in {
  opacity: 1;
  z-index: 1;
}

.hero-background.fade-out {
  opacity: 0;
  z-index: 0;
}

/* .hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
} */




.hero-main {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.hero-content {
  padding: 10px;
  margin-top: -300px;
  background-color: rgba(223, 221, 219, 0.5);
  backdrop-filter: blur(5px);
}

.hero-title {
  font-size: 3rem;
}

.hero-title span {
  color: white;
  font-size: clamp(2.5rem, 8vw, 6rem); /* Responsive font size */
  font-weight:bolder;
}

.hero-content h2 {
  color: white;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size */
}

.hero-content p {
  color: white;
  font-weight: normal;
}

.hero-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  border-radius: 10%;
  transition: background 0.3s;
}

.hero-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.hero-arrow.left {
  left: 20px;
}

.hero-arrow.right {
  right: 20px;
}


@media (max-width: 1200px) {
  .hero-background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

   .hero-section {
    margin-top: 130px; 
    min-height: 80vh; 
    width: 100%;
   }
}

@media (max-width: 768px) {
  .hero-background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

   .hero-section {
    margin-top: 130px; 
    min-height: 60vh; 
   }
}


@media (max-width: 480px) {
  .hero-background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

   .hero-section {
    margin-top: 130px; 
    min-height: 40vh; 
   }
}
