.company-info {
  background-color: #DFDDDB;
  padding: 40px 0;
}

.info-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.info-content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.info-text {
  flex: 1;
  padding-right: 40px;
}

.info-image {
  flex: 1;
}

.info-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.company-info h2 {
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: left;
}

.company-info p {
  color: #457b9d;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: left;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.info-item {
  background-color: #DFDDDB;
  padding: 0px;
  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  text-align: center;
  transition: all 0.3s ease;
}

.info-item p {
  color: #457b9d;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.info-item:hover {
  transform: translateY(-10px);
}

.feature-icon {
  font-size: 3rem;
  color: #457b9d;
  margin-bottom: 16px;
}

.info-item h3 {
  color: #1d3557;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.info-item p {
  color: #457b9d;
  font-size: 1rem;
  margin-bottom: 0;
}

.read-more-btn {
  background-color: #E9C46A;
  color: #1d3557;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.read-more-btn:hover {
  background-color: #1d3557;
  color: #E9C46A;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .info-content {
    flex-direction: column;
  }

  .info-text {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}
