.company-info {
  background-color: #F0EFEE;
  padding: 100px 20px 20px 20px;
}

.info-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.info-content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.info-text {
  flex: 1;
  padding-right: 60px;
}

.info-image {
  margin-top: 40px;
  flex: 1;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease-in-out;
}


.info-image img {
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.company-info h2 {
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: left;
}

.company-info p {
  color: #457b9d;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}

.info-grid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.info-item {
  background-color: #F0EFEE;
  padding: 0px;
  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  text-align: center;
  transition: all 0.3s ease;
}

.info-item p {
  color: #457b9d;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.info-item:hover {
  transform: translateY(-10px);
}

.feature-icon {
  font-size: 3rem;
  color: #457b9d;
  margin-bottom: 16px;
}

.info-item h3 {
  color: #1d3557;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.info-item p {
  color: #457b9d;
  font-size: 1rem;
  margin-bottom: 0;
}

.read-more-btn {
  background-color: #E9C46A;
  color: #1d3557;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.read-more-btn:hover {
  background-color: #1d3557;
  color: #E9C46A;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .company-info {
    padding: 130px 20px 20px 20px;
  }

  .info-content {
    flex-direction: column;
    align-items: stretch;
    display: flex; 
    gap: 20px; 
  }

  .info-text {
    padding-right: 0;
    margin-bottom: 30px;
    order: 1;
    width: 100%;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }

  .info-image {
    width: 100%;
    height: auto;
    min-height: 250px;
    margin-top: 0;
    display: block; 
    order: 2;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }

  .company-info h2 {
    font-size: 2.2rem;
  }
  .company-info p {
    font-size: 1rem;
  }
  .info-item {
    font-size: 1.4;
  }
  
  .info-item p {
    font-size: 1rem;
  }
}