.video-section {
    position: relative;
    height: 90vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .video-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .video-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(18, 40, 62, 0.2);  */
  }
  
  .video-main {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  