.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.product-modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 15px;
  position: relative;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s ease;
}

.product-modal.active .modal-content {
  transform: scale(1);
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #2c3e50;
}
.close-btn:hover{
  transform: scale(1.2);
  color: #2c3e50;
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.image-slider img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.prev-btn, .next-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3498db;
  transition: color 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
  transform: scale(1.2);
  color: #2980b9;
}

.modal-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.modal-tabs button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  color: #7f8c8d;
  transition: all 0.3s ease;
}

.modal-tabs .active {
  color: #3498db;
  border-bottom: 2px solid #3498db;
}

.tab-content {
  line-height: 1.6;
  color: #34495e;
}

.document-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.document-links a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.document-links a:hover {
  background-color: #2980b9;
}

@media (min-width: 768px) {
  .modal-content {
    padding: 30px;
    max-width: 600px;
  }

  .image-slider img {
    max-height: 400px;
  }

  .modal-tabs button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .document-links {
    gap: 20px;
  }

  .document-links a {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .modal-content {
    max-width: 800px;
  }
}
