.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.85); */
  background-color: rgba(255, 255, 255);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  height: 70px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.desktop-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.desktop-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  letter-spacing: 0.5px;
  opacity: 0.85;
}
.desktop-nav a:hover {
  opacity: 1;
}

.desktop-nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0F316D;
  transition: width 0.3s ease;
}

.desktop-nav a:hover::after,
.desktop-nav a.active::after {
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-actions button {
  background: none;
  border: none;
  color: #0F316D;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.85;
}

.header-actions button:hover {
  opacity: 1;
  transform: scale(1.15);
}

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #0F316D;
  transition: all 0.3s ease;
}

/* .mobile-menu-btn:hover {
  transform: rotate(90deg);
} */

.nav-menu {
  display: none
}

@media (max-width: 768px) {
  .search-btn{
      display: none;
  }
  .desktop-nav {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 10px;
    z-index: 999;
    align-items: center;
    padding-left: 0px;
  }

  .mobile-search-input {
    width: 90%;
    align-self: center;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
  }

  .mobile-search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
  }

  .nav-menu a {
      width: 90%; /* Full width */
      text-align: center; /* Center text */
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 8px;
      transition: all 0.3s ease;
      background-color: #0F316D;
      color: #f3f5f8;
      margin-bottom: 5px;
      text-align: center;
  }
}