.footer {
  background: #F8F9FA;
  color: #333;
  padding: 10px 0 0 0;
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
  margin-bottom: -150px;
  border-top: 2px solid #F8F9FA;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background: 
    linear-gradient(45deg, rgba(15, 49, 109, 0.05) 0%, transparent 50%),
    linear-gradient(135deg, rgba(0, 123, 255, 0.05) 10%, transparent 80%);
  opacity: 0.5;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  /* margin: 0 auto; */
  /* padding: 0; */
  position: relative;
  z-index: 2;
}

.footer-column {
  flex: 1;
  margin: 0 15px;
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); */
  transition: all 0.3s ease;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  color: #0F316D;
  font-size: 26px;
  transition: all 0.4s ease;
}

.social-links a:hover {
  color: #E9C36A;
  transform: scale(1.2) rotate(360deg);
}

.footer-column h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  color: #0F316D;
  border-bottom: 2px solid rgb(15,49,109,0.3);
  padding-bottom: 10px;
}

.f-company-info p {
  color: #457b9d;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.hours-list {
  list-style: none;
  padding: 0;
}

.hours-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(15, 49, 109, 0.05);
  border-radius: 1px;
  transition: all 0.3s ease;
}

.hours-list li:hover {
  background: rgba(0, 123, 255, 0.1);
  transform: translateX(5px);
}

.footer-contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.footer-contact-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  /* padding-bottom: 20px; */
  border-radius: 1px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(15, 49, 109, 0.05);
  transition: all 0.3s ease;
}

.footer-contact-detail:hover {
  background: rgba(0, 123, 255, 0.1);
  transform: translateX(5px);
}

.footer-contact-detail svg {
  color: #0F316D;
  min-width: 20px;
  font-size: 16px;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background-color: rgb(15,49,109, 0.9); 
  /* background: linear-gradient(to right, #0F316D, #007bff); */
  color: white;
  margin-top: 50px;
  /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); */
}

.footer-policies {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.footer-policies a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-policies a:hover {
  color: white;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adds spacing between each email */
}

.list-item {
  display: flex;
  align-items: flex-start; 
  gap: 10px;
}


/* .contact-item2 {
  margin: 10px 0;
  color: #000;
} */

.f-phone-numbers,
.f-email-addresses {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: flex-start;
  }

.f-phone-number,
.f-email-address {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-column {
    margin: 0;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}
