.certificates-container {
  padding: 0 20px 100px 20px;
  background-color: #f8f9fa;
}

.certificates-container h2 {
  color: #1d3557;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.certificate-card {
  /* background-color: #F4A261; */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  aspect-ratio: 3 / 4;
  /* border: 5px solid rgba(244,162,97, 0.5); */
  border: 5px solid rgba(0, 0, 0, 0.1);
}

.certificate-card:hover {
  transform: scale(1.01);
}

.certificate-image-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.certificate-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.certificate-card:hover .certificate-overlay {
  opacity: 1;
}

.certificate-actions {
  display: flex;
  gap: 15px;
}

.action-btn {
  background-color: #E9C46A;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.action-btn:hover {
  transform: scale(1.15);
  background-color: #0F316D;
  color: white;
}

.certificate-info {
  padding: 15px;
  text-align: center;
  background-color: #1A4A8C;
  border-top: 1px solid #e9ecef;
  opacity: 0.7;
}

.certificate-info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #f6f7f9;
}

.certificate-info p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #81898a;
}

@media (max-width: 1200px) {
  .certificates-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .certificates-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .certificates-grid {
    grid-template-columns: 1fr;
  }
}
