.filter-container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* height: calc(100vh - 50px); */
  display: flex;
  flex-direction: column;
  position: sticky;
  /* top: 120px; */
  /* background-color: #f7eedb; */
  /* background-color: rgb(15,49,109,0.2); */
}

.filter-title {
  font-size: 18px;
  margin-bottom: 50px;
  color: #1d3557;
}

.category-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.category-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #555;
}

.category-checkbox input {
  opacity: 0;
  position: absolute;
}

.checkbox-custom {
  width: 18px;
  height: 18px;
  border: 2px solid #888;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.category-checkbox input:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.reset-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s ease;
  align-self: center;
}

.reset-button:hover {
  background-color: #e0e0e0;
}
/* Style for the dropdown */
.category-dropdown {
  margin-bottom: 20px;
}

.category-dropdown-select {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Style for the subcategory checkboxes */
.subcategory-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .filter-title {
    margin-bottom: 20px;
  }
  .filter-container {
    height: auto;
    position: static;
  }

  .category-checkboxes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: visible;
  }
}
