.filter-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-bar select,
.filter-bar input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.filter-bar select:focus,
.filter-bar input:focus {
  outline: none;
  box-shadow: 0 2px 15px rgba(52, 152, 219, 0.3);
}

@media (min-width: 768px) {
  .filter-bar {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .filter-bar select {
    width: auto;
  }
}
@media (min-width: 278px) {
.filter-bar input{
  width: auto;
}
}