.hero22-content {
  width: 1500px;
  display: flex;
  flex-direction: column;
  background-color: #dfdddb;
}

.hero22-content h2{
  color: #1E3456;
  /* font-family: "ITCNovareseMed"; */
  line-height: 120%;
  font-size: 2rem;
}

.hero22-content p{
  color: black;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 30px;
}