body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 100px 0;
    background-color: #F8F9FA;
    overflow-x: hidden;
}
h2 {
color: #1d3557;
font-size: 2.5rem;
margin-bottom: 30px;
margin-top: 30px;
text-align: center;
}  

.google-maps-section p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.google-maps-section {
  text-align: center;
  padding: 40px;
  background-color: #F8F9FA;
}

.google-maps-section iframe {
  width: calc(100% - 40px);
  max-width: 1200px;
  height: 400px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}